.App {
  text-align: center;
}

.marketbox {
  border-radius: 15px 15px 15px 15px;
  width: 50%;
  background-color: #000;
  color: rgb(212, 246, 212);

}

.market-box-watchlist {
  display: flex;
}



.stock-detail {
  display: center;
  margin-top: 0cm;
  padding-top: 5px;
  width: 50%;
  border-radius: 15px 15px 15px 15px;
  background-color: #000;
  color: rgb(212, 246, 212);
}

.stock-detail>ul>li {
  list-style: none;
}

.portfolio {
  border-radius: 15px;
  background-color: #000;
  color: rgb(212, 246, 212);
}


.watch-list {
  width: 50%;
  justify-content: center;
  border-radius: 15px;
  background-color: #000;
  color: rgb(212, 246, 212);
}

.watch-list>ul>li {
  list-style: none;
}

.chartbox {
  border-radius: 15px;
  background-color: #000;
  color: rgb(212, 246, 212);
}


.portfolio-share {
  background-color: #000;
  overflow: auto;
  white-space: nowrap;

}

.portfolio-share {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.portfolio-share:hover {
  background-color: #777;
}

.portfolio-share ul li {
  list-style-type: none;
}