.App {
  text-align: center;
  font-family: "App";
  background-color: rgb(236, 255, 254);
}

@font-face {
  font-family: "App";
  src: url("./fonts/Oxygen-Regular.ttf") format("truetype");
}


.marketbox {
  border: 6px solid #777;
  margin: 10px;
  border-radius: 15px 15px 15px 15px;
  width: 50%;
  background-color: #000;
  color: rgb(180, 180, 180);

}

.marketbox>h2 {
  color: rgb(255, 245, 158);
}

.market-box-watchlist {
  display: flex;
}



.stock-detail {
  border: 6px solid #777;
  margin: 10px;
  display: center;
  padding-top: 5px;
  width: 50%;
  border-radius: 15px 15px 15px 15px;
  background-color: #000;
  color: rgb(180, 180, 180);
}



.stock-detail>ul>li {
  list-style: none;
}

.stock-detail>h2 {
  color: rgb(255, 245, 158);
}


.watch-list {
  border: 6px solid #777;
  margin: 10px;
  width: 50%;
  justify-content: center;
  border-radius: 15px;
  background-color: #000;
  color: rgb(180, 180, 180);
}

.watch-list>ul>li {
  list-style: none;
}

.watch-list>h2 {
  color: rgb(255, 245, 158);
}

.chartbox {
  border: 6px solid #777;
  margin: 10px;
  border-radius: 15px;
  background-color: #000;
  color: rgb(180, 180, 180);
}

.chartbox>h3 {
  color: rgb(255, 245, 158);
}

.portfolio {
  border: 6px solid #777;
  margin: 10px;
  border-radius: 15px;
  background-color: #000;
  color: rgb(180, 180, 180);
}

.portfolio>h2 {
  color: rgb(255, 245, 158);
}

.portfolio-share {
  background-color: #000;
  overflow: auto;
  white-space: nowrap;

}

.portfolio-share {
  display: inline-block;
  /* color: rgb(163, 163, 163); */
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.red>li {
  color: red;
}

.green>li {
  color: greenyellow;
}

.portfolio-share:hover {
  background-color: rgb(202, 202, 202);
}

.portfolio-share ul li {
  list-style-type: none;
}

.portfolio-share>h2 {
  color: rgb(255, 245, 158);
}